**/__pycache__
knowledge_base
logs
embedding_models
jupyter_work
code_base
data
.DS_Store
.idea
.pyc
test_config.py
package.sh
setup_test.py
build
*egg-info
dist
.ipynb_checkpoints
zdatafront*
*antgroup*
*ipynb
*log
examples/mysql/db



# frontend
frontend/node_modules
frontend/.env.local
frontend/.umirc.local.ts
frontend/config/config.local.ts
frontend/src/.umi
frontend/src/.umi-production
frontend/src/.umi-test
frontend/.umi
frontend/.umi-production
frontend/.umi-test
frontend/dist
frontend/.mfsu
frontend/.swc
frontend/pnpm-lock.yaml

*.jar




.spyproject/
model_config.py
model_config_example.py
config.py
**/service_onlyant
**/ekg_test
**/generalization_reasoning
ekg.yaml
*.ipynb
**/web_operation
examples/mysql/db
tests/service/test_*
tests/service/replacements.py