openai==1.34.0
langchain==0.2.3
langchain_community==0.2.4
langchain_openai==0.1.8
langchain_huggingface==0.0.3
sentence_transformers
loguru
# fastapi~=0.99.1
fastapi
pandas
jieba
psutil
faiss-cpu
notebook
chromadb==0.4.17
javalang==0.13.0
nebula3-python==3.8.2
Pyarrow
python-magic-bin; sys_platform == 'win32'
SQLAlchemy==2.0.19
docker
Levenshtein
redis==5.0.1
pydantic<=1.10.14
aliyun-log-python-sdk==0.9.0
# pydantic
# duckduckgo-search
urllib3==1.26.6
sseclient
ollama
colorama
pycryptodome
libcst